In [1]:
#COMEÇANDO LENDO O ARQUIVO com panda
import pandas as panda
import numpy

#esse arquivo é em portugues, possui acentuacao = latin-1, e esta as colunas separada por Tap(espaço) = \t
arquivoDiarias = panda.read_csv('C:\\GIT\\DataScience\\Datasets\\Diarias.csv', encoding = 'latin-1', sep ='\t' )

arquivoDiarias.head(6)

,Código Órgão Superior,Nome Órgão Superior,Código Órgão Subordinado,Nome Órgão Subordinado,Código Unidade Gestora,Nome Unidade Gestora,Código Função,Nome Função,Código Subfunção,Nome Subunção,...,Nome Programa,Código Ação,Nome Ação,Linguagem Cidadã,CPF Favorecido,Nome Favorecido,Documento Pagamento,Gestão Pagamento,Data Pagamento,Valor Pagamento
0,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.008.30*-**,HUMBERTO GUEDES CAMPELO,2017OB800780,1,06/02/2017,"1263,20"
1,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.008.30*-**,HUMBERTO GUEDES CAMPELO,2017OB800993,1,20/02/2017,"2325,20"
2,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.016.72*-**,ANTONIO JOSE DE SENA BOMFIM,2017OB800926,1,14/02/2017,"300,20"
3,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.029.67*-**,CINTIA MACEDO DE OLIVEIRA REBELO,2017OB800864,1,08/02/2017,"344,72"
4,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.037.81*-**,LEONARDO ALVES RANGEL,2017OB801015,1,21/02/2017,"476,03"
5,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.037.99*-**,LUDMILA VOLOCHEN DA ROSA,2017OB800940,1,16/02/2017,"11091,60"

In [2]:
#formato do arquivo-tabela

arquivoDiarias.shape

(38745, 21)

In [3]:
#Tipo de dados na tabela

#object = string
arquivoDiarias.dtypes

Código Órgão Superior        int64
Nome Órgão Superior         object
Código Órgão Subordinado     int64
Nome Órgão Subordinado      object
Código Unidade Gestora       int64
Nome Unidade Gestora        object
Código Função                int64
Nome Função                 object
Código Subfunção             int64
Nome Subunção               object
Código Programa              int64
Nome Programa               object
Código Ação                 object
Nome Ação                   object
Linguagem Cidadã            object
CPF Favorecido              object
Nome Favorecido             object
Documento Pagamento         object
Gestão Pagamento             int64
Data Pagamento              object
Valor Pagamento             object
dtype: object

In [4]:
#Analisando outro aquivo, primeira estatisticas

arquivoFilmes = panda.read_csv('C:\GIT\DataScience\Datasets\movies.csv')
arquivoFilmes.head()

,star rating,title,content rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
#Primeiras possiveis do filme para valores numericos da tabela
arquivoFilmes.describe()

# Count = numero de linhas, Mean = media de todas as linhas, Std = desvio padrao
# Min = nota minina, Quatis 25%, 50%, 75% = media de notas por quartis, Max = nota maxima

       star rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [8]:
#O metodo describe pode receber com argumentos para trazer dados NAO NUMERICOS
arquivoFilmes.describe(include=['object']) #vimos acima que object = string

# count = numero de linhas, unique = dados que nao se repetem, top = dado com mais ocorrencia
# freq = numero de vezes que do dado se repetiu

,title,content rating,genre,actors list
count,979,976,979,979
unique,975,12,16,969
top,True Grit,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [10]:
# Renomeando colunas da tabela
# Em muitos casos, espaços nas colunas pode atrapalhar o codigo

#essa forma nao altera o arquivo original, somente a visualização.
arquivoFilmes.rename(columns = {'star rating':'star_rating', 'content rating':'content_rating'})
#arquivoFilmes.columns

,star_rating,title,content_rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [11]:
#alterando nome da coluna no arquivo original
arquivoFilmes.rename(columns = {'star rating':'star_rating', 'content rating':'content_rating'}, inplace=True)

In [12]:
arquivoFilmes.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors list'],
      dtype='object')

In [15]:
#as colunas tambem podem ser renomadas no momento da abertura/leitura do aquivo em forma de lista

arquivoFilmes2 = panda.read_csv('C:\GIT\DataScience\Datasets\movies.csv', names = ['star_rating', 'title',
                                                                                     'content_rating', 'genre', 
                                                                                     'durating', 'actors_list'])
arquivoFilmes2.head()

,star_rating,title,content_rating,genre,durating,actors_list
0,star rating,title,content rating,genre,duration,actors list
1,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,9,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."

In [18]:
#a forma mais automatia e facil

arquivoFilmes2.columns = arquivoFilmes2.columns.str.replace('_', " ")
arquivoFilmes2.columns

Index(['star rating', 'title', 'content rating', 'genre', 'durating',
       'actors list'],
      dtype='object')

In [20]:
#REMOVENDO COLUNAS
#SEMPRE QUE FIZER GRANDES TRENSFORMAÇÕES NAS TABELA É IMPORTANTE REALIZAR O BACKPUP PARA RASTREABILIDADE
#Entede-se como backup nesse caso a tribuição da alteração numa nova variavel

#axis 1 = colunas, axis 0 = linhas
novoArquivoFilmes = arquivoFilmes2.drop('content rating', axis = 1)
novoArquivoFilmes

,star rating,title,genre,durating,actors list
0,star rating,title,genre,duration,actors list
1,9.3,The Shawshank Redemption,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.2,The Godfather,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.1,The Godfather: Part II,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,9,The Dark Knight,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
...,...,...,...,...,...
975,7.4,Tootsie,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
976,7.4,Back to the Future Part III,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
977,7.4,Master and Commander: The Far Side of the World,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Poltergeist,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
979,7.4,Wall Street,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [21]:
#REMOVENDO LINHAS DA TABELA

novoArquivoFilmes2 = novoArquivoFilmes.drop([0, 1], axis=0) #removeno linhas 0 e 1
novoArquivoFilmes2

,star rating,title,genre,durating,actors list
2,9.2,The Godfather,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.1,The Godfather: Part II,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,9,The Dark Knight,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
5,8.9,Pulp Fiction,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
6,8.9,12 Angry Men,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
...,...,...,...,...,...
975,7.4,Tootsie,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
976,7.4,Back to the Future Part III,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
977,7.4,Master and Commander: The Far Side of the World,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Poltergeist,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
979,7.4,Wall Street,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."